@media screen and (max-width: 768px) {
    .el-tabs__item {
        font-size: 12px; 
        padding: 0 .15rem;
    }  
    #productIntroduction .el-tabs .el-tab-pane {
        padding: 0!important;
    }
    #productIntroduction .el-tabs .el-tab-pane .img2 {
        width: 100%!important;
    }
    #productIntroduction .el-tabs .tap3 .p1 {
        width: auto!important;
        line-height: .6rem!important;
    }
    #productIntroduction .el-tabs .tap3 .p2 {
        clear: both!important;
    }
    #productIntroduction .el-tabs .tap3 .p2 {
        line-height: .5rem!important;
    }
}
/* 选中导航 */
#menu>ul>li:nth-child(2) a {
    color: #fff;
}
/* 中间内容 */
#productIntroduction .el-tabs {
    margin-top: .4rem;
    overflow: hidden;
}
#productIntroduction .el-tabs .el-tab-pane {
    padding: .1rem .6rem;
}
#productIntroduction .el-tabs .tap1 p {
    text-indent: 2em; 
} 
#productIntroduction .el-tabs .tap1 .img1 {
    display: block;
    margin: auto;
    width: 100%;
}
#productIntroduction .el-tabs .tap1 .img2 {
    display: block;
    width: 50%;
    float: left;
}
#productIntroduction .el-tabs .tap2 img {
    width: 100%;
    margin-bottom: .4rem;
}
#productIntroduction .el-tabs .tap3 .p1 {
    width: 120px;
    background: #409EFF;
    color: #fff;
    border-radius: 2px; 
    line-height: 30px;
    padding: 0 10px;
    margin-right: 15px;
    float: left;
    clear: both;
}
#productIntroduction .el-tabs .tap3 .p2 {
    line-height: 30px;
}
#productIntroduction .el-tabs .tap4 .el-col {
    padding: .2rem;
    position: relative;
}
#productIntroduction .el-tabs .tap4 img {
    width: 100%;
}
#productIntroduction .el-tabs .tap4 p {
    text-align: center;
    line-height: 41px;
    background: rgba(0,0,0,.8);
    color: #fff;
}